/* ===============TAG COMPONENTS=============== */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
}

#modalOpen {
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.fancyCenter {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.h-lots {
    height: 88.666%;
}

.noButtonOutLine:focus {
    outline: none;
}

/* #region ===============SCROLLBAR=============== */
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

body::-webkit-scrollbar-thumb {
    background: white;
}

body::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

body::-webkit-scrollbar-thumb:active {
    background: #404040;
}

body::-webkit-scrollbar-track {
    background: #cc5656;
}

body::-webkit-scrollbar-corner {
    background: transparent;
}

/* #endregion */

.page {
    width: 100%;
    padding: 0 5rem;
}

.title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


/* #region  NAVBAR */
nav {
    z-index: 1;
}

#backgroundImage {
    position: absolute;
    top: -100%;
    left: 0;
    transition: .3s;
    overflow: hidden;
    z-index: -1;
}

#backgroundImage img {
    filter: blur(2px);
    transform: scale(1.07);
}

.navScrolled {
    top: 0 !important;
    box-shadow: 0px 17px 42px -18px rgba(0, 0, 0, 0.75);
}

#linkRow a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
    font-weight: 400;
    font-size: 1.3rem;
    transition: all .5s;
}

.activeNav {
    --sizer: .3px;
    --inverseSizer: calc(var(--sizer) * -1);
    --colorer: white;
    text-shadow:
        var(--inverseSizer) var(--inverseSizer) 0 var(--colorer),
        var(--sizer) var(--inverseSizer) 0 var(--colorer),
        var(--inverseSizer) var(--sizer) 0 var(--colorer),
        var(--sizer) var(--sizer) 0 var(--colorer);
}

#navSelected {
    font-weight: 700;
    color: white !important;
}

/* #endregion */


/* ===============PAGES=============== */


/* #region  HOME SECTION */
#home {
    height: 100vh;
    position: relative;
}

#pizzaMain {
    right: 2rem;
    height: 43rem;
}

#mainText {
    top: 10rem;
}


/* BUTTON THINGS */
#orderButton svg,
#orderButton {
    transition: .5s cubic-bezier(0.22, 1, 0.36, 1);
}

#orderButton:hover svg {
    transform: translate(0.2rem)
}


#tomatoes {
    position: relative;
    left: -13rem;
    bottom: -66%;
    width: 36%;
}

/* #endregion */


/* #region  About Us */

.imgGallery {
    height: 40vh;
}

.imgGallery img {
    transition: .6s cubic-bezier(0.16, 1, 0.3, 1);
}

.imgGallery img:hover {
    transform: scale(1.2);
}

#contentGrid {
    margin-bottom: 3rem;
}

#contentGrid h1 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

/* #endregion */


/* #region  ORDER SELECTION */
.foodCard {
    width: 100%;
    height: 32rem;
    background-color: #cf4c4c;
    color: white;
    overflow: hidden;
    border-radius: 1rem;
}

.foodCard::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    background-color: #dae480;
    transform: skewY(380deg);
    transition: .3s;
}

.foodCard:hover::before {
    top: -50%;
    transform: skewY(350deg);
}

.foodCard::after {
    font-family: "Patue One";
    content: 'MILANO';
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 11rem;
    font-weight: 1000;
    color: #00000021;
    line-height: 1;
}

/* IMAGE PART */
.imgBX {
    z-index: 1;
}

.foodCard .imgBX {
    transition: .3s;
}

.foodCard:hover .imgBX {
    padding-top: 1.5rem;
}

.foodCard .imgBX img {
    width: 90%;
    transition: .3s;
}

.foodCard:hover .imgBX img {
    width: 70%;
}

/* CONTENT PART */
.foodCard .contentBX {
    z-index: 1;
}

.foodCard .contentBX button {
    padding: 0.5rem;
    transition: 0.3s;
    opacity: 0;
}

.foodCard:hover .contentBX button {
    opacity: 1;
}

/* ORDER MODAL */
#orderModal {
    background-color: #00000099;
    overflow-y: hidden;
    padding-right: 15px;
    backdrop-filter: opacity(1.6) blur(54px);
    width: 99.6vw;
}

#sizeButtonRow button {
    --size: 38px;
    min-width: var(--size);
    min-height: var(--size);
    border-radius: 999px;
    border: 1px solid #757575;
    color: #757575;
    transition: .3s ease;
}

#sizeButtonRow button:active {
    transform: scale(1.1);
}

#sizeButtonRow .selectedSizeButton {
    font-weight: bold;
    transform: scale(1.5) !important;
    color: black;
    border: 1px solid #ffffff00;
    box-shadow: 0px 3px 21px -5px rgb(0 0 0 / 50%);
}

#selectionButtonBackground {
    background-color: #ffffff5e;
    backdrop-filter: blur(7px);
    z-index: -1;
}

#selectionButtonRow button {
    transition: 0.1s;
}

#selectionButtonRow button:active {
    transform: scale(1.1);
}

#quantityRow svg {
    stroke: #636363;
}

#herb1 {
    top: -6rem;
    left: -4rem;
    width: 12rem;
    z-index: -1;
}

#herb2 {
    width: 14rem;
    transform: rotate(-442deg);
    top: -9rem;
    right: 20rem;
}

#tomato1 {
    width: 9rem;
    right: -4rem;
    top: 42%;
}

#pizzaRow img {
    transition: .3s ease;
    z-index: -2;
}

.orderPosition0 {
    width: 31rem;
    bottom: -24rem;
    --position: -48%;
    left: var(--position);
    transform: translateX(calc(var(--position)*-1));
}

.orderPosition1 {
    width: 31rem;
    bottom: -24rem;
    --position: -19%;
    left: var(--position);
    transform: translateX(calc(var(--position)*-1));
}

.orderPosition2 {
    width: 46rem;
    bottom: -18rem;
    --position: 50%;
    left: var(--position);
    transform: translateX(calc(var(--position)*-1));
}

.orderPosition3 {
    width: 31rem;
    bottom: -24rem;
    --position: 119%;
    left: var(--position);
    transform: translateX(calc(var(--position)*-1));
}

.orderPosition4 {
    width: 31rem;
    bottom: -24rem;
    --position: 148%;
    left: var(--position);
    transform: translateX(calc(var(--position)*-1));
}

/* #endregion */

/* #region  Contact Us  */
#contactus {}

/* #region  TWITTER SCROLLBAR */
.socialScroll::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.socialScroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.socialScroll::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none red;
    border-radius: 4px;
}

.socialScroll::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.socialScroll::-webkit-scrollbar-thumb:active {
    background: #949494;
}

.socialScroll::-webkit-scrollbar-track {
    background: #292f33;
    border: 0px none red;
    border-radius: 4px;
    padding-right: 10px;
}

.socialScroll::-webkit-scrollbar-track:hover {
    background: #292f33;
}

.socialScroll::-webkit-scrollbar-track:active {
    background: #1f2023;
}

.socialScroll::-webkit-scrollbar-corner {
    background: transparent;
}

/* #endregion */

#jobPersonal input {
    margin-bottom: 1rem;
    width: 60%;
    border-radius: 0.3rem;
    border: 2px solid #c5c5c5;
    padding: 0.5rem;
}

#jobPersonal input:focus {
    outline: none;
    border-color: #df4949;
}

#jobPersonal label {
    margin-bottom: 0.2rem;
}


/* RADIO BUTTONS */
/* REAL RADIO BUTTON */
.option input {
    /* To hide a input button */
    z-index: -1;
    position: absolute;
    opacity: 0;
}

/* OPTION CONTAINER */
.option label {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1rem auto;
    grid-gap: 20px;
    width: 320px;
    height: 62px;
    padding: 0 20px;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: transparent;
    transition: all .15s ease-in;
}

.option label:hover {
    border-color: #f640405e;
    background-color: rgba(234, 97, 97, 0.068);
}

.option input:checked~label {
    border-color: #f64040;
    background-color: rgba(234, 97, 97, 0.16);
}

.option:not(:last-child) {
    margin-bottom: 0.3rem;
}

.option label>span {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #454861;
    background-image: linear-gradient(to bottom, #3B4059, #1C1E2D);
    transform: scale(1);
}

.option input:checked~label>span {
    will-change: transform;
    z-index: 2;
    border: 0;
    background-image: linear-gradient(to top right, #6E89FF, #4363EE);
    animation: radio .4s cubic-bezier(0.17, 0.89, 0.32, 1.49) forwards;
}

@keyframes radio {

    0%,
    17.5% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* RADIO BUTTON INSIDE */
.option input:checked~label>span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
}


/* SUBMIT BUTTON */
#jobSubmit {
    padding: 0.5rem;
    background-color: #da4c4c;
    border-radius: 0.3rem;
    color: white;
    width: 60%;
    font-size: 1.5rem;
    transition: .1s ease;
}

#jobSubmit:hover {
    background-color: #b63737;
}

#jobSubmit:active {
    transform: translateY(0.3rem);
}

/* #endregion */


/* #region  FEEDBACK */
#feedback {}

.starRack {
    color: #f3ea6a;
    letter-spacing: normal;
}

.avatar {
    clip-path: circle(50.0% at 50% 50%);
    width: 20%;
    height: auto;
}

.reviewBox {
    transition: .3s ease;
    background-color: #c9c9c9;
}

.reviewBox:hover {
    transform: scale(1.04) translateY(-5px);
    box-shadow: 0px 33px 45px -15px #00000028;
}

/* #endregion */


/* #region  FOOTERS */


/* VUE FUN */
#footer-col {}

#socialList i {
    width: min-content;
    font-size: 2.5rem;
    cursor: pointer;
    color: #e64b4b;
}

/* #endregion */


/* #region  VUE THINGS */

.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .2s ease
}

/* #endregion */