/* ===============TAG COMPONENTS=============== */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
}

/* #region ===============SCROLLBAR=============== */
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

body::-webkit-scrollbar-thumb {
    background: white;
}

body::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

body::-webkit-scrollbar-thumb:active {
    background: #404040;
}

body::-webkit-scrollbar-track {
    background: #cc5656;
}

body::-webkit-scrollbar-corner {
    background: transparent;
}

/* #endregion */

.page {
    width: 100%;
    padding: 0 5rem;
}

.title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


/* #region  NAVBAR */
nav {
    z-index: 1;
}

#backgroundImage {
    position: absolute;
    top: -100%;
    left: 0;
    transition: .3s;
    overflow: hidden;
    z-index: -1;
}

#backgroundImage img {
    filter: blur(2px);
    transform: scale(1.07);
}

.navScrolled {
    top: 0 !important;
    box-shadow: 0px 17px 42px -18px rgba(0, 0, 0, 0.75);
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
    font-weight: 400;
    font-size: 1.3rem;
    transition: all .5s;
}

.activeNav {
    --sizer: .3px;
    --inverseSizer: calc(var(--sizer) * -1);
    --colorer: white;
    text-shadow:
        var(--inverseSizer) var(--inverseSizer) 0 var(--colorer),
        var(--sizer) var(--inverseSizer) 0 var(--colorer),
        var(--inverseSizer) var(--sizer) 0 var(--colorer),
        var(--sizer) var(--sizer) 0 var(--colorer);
}

#navSelected {
    font-weight: 700;
    color: white !important;
}

/* #endregion */


/* ===============PAGES=============== */


/* #region  HOME SECTION */
#home {
    height: 100vh;
    position: relative;
}

#pizzaMain {
    right: 2rem;
    height: 43rem;
}

#mainText {
    top: 10rem;
}


/* BUTTON THINGS */
#orderButton:focus {
    outline: 0;
}

#orderButton svg,
#orderButton {
    transition: .5s cubic-bezier(0.22, 1, 0.36, 1);
}

#orderButton:hover svg {
    transform: translate(0.6rem)
}


#tomatoes {
    position: relative;
    left: -13rem;
    bottom: -66%;
    width: 36%;
}

/* #endregion */


/* #region  About Us */
#aboutUs {
    margin-top: 7rem;
}

.imgGallery {
    height: 40vh;
}

.imgGallery img {
    transition: .6s cubic-bezier(0.16, 1, 0.3, 1);
}

.imgGallery img:hover {
    transform: scale(1.2);
}

#contentGrid {
    margin-bottom: 3rem;
}

#contentGrid h1 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

/* #endregion */


/* #region  ORDER SELECTION */
#order {
    padding: 6rem 10rem;
}

.foodCard {
    width: 100%;
    height: 35rem;
    background-color: #cf4c4c;
    color: white;
    overflow: hidden;
    border-radius: 1rem;
}

.foodCard::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    background-color: #dae480;
    transform: skewY(380deg);
    transition: .3s;
}

.foodCard:hover::before {
    top: -50%;
    transform: skewY(350deg);
}

.foodCard::after {
    font-family: "Patue One";
    content: 'MILANO';
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 11rem;
    font-weight: 1000;
    color: #00000021;
    line-height: 1;
}

/* IMAGE PART */
.imgBX {
    z-index: 1;
}

.foodCard .imgBX {
    transition: .3s;
}

.foodCard:hover .imgBX {
    padding-top: 1.5rem;
}

.foodCard .imgBX img {
    width: 90%;
    transition: .3s;
}

.foodCard:hover .imgBX img {
    width: 70%;
}

/* CONTENT PART */
.foodCard .contentBX {
    z-index: 1;
}

.foodCard .contentBX button {
    padding: 0.5rem;
    transition: 0.3s;
    opacity: 0;
}

.foodCard:hover .contentBX button {
    opacity: 1;
}

/* #endregion */

/* #region  Contact Us  */
#contactus {}

.socialScroll::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.socialScroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.socialScroll::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none red;
    border-radius: 4px;
}

.socialScroll::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.socialScroll::-webkit-scrollbar-thumb:active {
    background: #949494;
}

.socialScroll::-webkit-scrollbar-track {
    background: #292f33;
    border: 0px none red;
    border-radius: 4px;
    padding-right: 10px;
}

.socialScroll::-webkit-scrollbar-track:hover {
    background: #292f33;
}

.socialScroll::-webkit-scrollbar-track:active {
    background: #1f2023;
}

.socialScroll::-webkit-scrollbar-corner {
    background: transparent;
}

/* #endregion */


/* #region  REVIEWS */
#reviews {
    height: 115vh;
}

.starRack {
    color: #f3ea6a;
    letter-spacing: normal;
}

.avatar {
    clip-path: circle(50.0% at 50% 50%);
    width: 20%;
    height: auto;
}
.reviewBox{
    transition: .3s ease;
}
.reviewBox:hover{
    transform: scale(1.04);
}

/* #endregion */


/* #region  FOOTERS */
#footer-col {}

#socialList i {
    width: min-content;
    font-size: 2.5rem;
    cursor: pointer;
}

/* #endregion */